* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Unb';
    src: url(fonts/Unbounded-Regular.ttf);
}

@font-face {
    font-family: 'Mooli';
    src: url(fonts/Mooli-Regular.ttf);
}

body {
    background-color: #ffefd5;
    text-align: center;
}

main {
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.branco {
    background-color: rgb(255, 246, 236);
    padding: 60px 8vh;
    border-radius: 18px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    z-index: 100;
}

h1 {
    font: 500 26px 'Unb', sans-serif;
    text-align: center;
}

.texto,
.ajuda {
    font: 500 2.5vh 'Mooli', sans-serif;
    text-align: center;
    margin-top: 10px;
}

.ajuda {
    margin-top: 0;
}

form {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

textarea {
    font: 500 14px 'Mooli', sans-serif;
    resize: none;
    border: 0 none;
    outline: 0;
    margin: 15px 0 20px 0;
    padding: 10px 12px;
    width: 400px;
    height: 120px;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.197);
}


header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

img {
    width: 110px;
    margin-right: 15px;
}

h2 {
    font: 500 40px 'Unb', sans-serif;
}

input {
    background-color: transparent;
    font: 500 16px 'Mooli', sans-serif;
    /* width: 400px; */
    border: 0 none;
    outline: 0;
    border-bottom: 2px solid rgba(141, 141, 141, 0.397);
    padding: 5px 29vh 5px 5px;
    margin: 0 0 30px 0;
    transition: all .3s ease-in-out;
}

input:focus {
    border-bottom: 2px solid #ffd89b;
}

button {
    position: relative;
    font: 500 16px 'Mooli', sans-serif;
    border-radius: 12px;
    background: linear-gradient(to right, #fee4bb, #ffd797);
    color: rgb(0, 0, 0);
    overflow: hidden;
    cursor: pointer;
    margin: 0 10px;
}

button i {
    width: 12px;
    margin-left: 8px;
}

button span {
    position: relative;
    transition: color 0.4s;
    display: inline-flex;
    align-items: center;
    padding: 8px 20px;
}

span:hover {
    color: rgb(0, 0, 0);
}

button::before,
button::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

button::before {
    content: "";
    background: #ffe8c4;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

button:hover::before {
    transform: translate3d(100%, 0, 0);
}

button:active {
    transform: scale(0.95);
}

.adicionar {
    margin-bottom: 40px;
}

section {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.direito {
    background-color: #fee4bb;
    width: 400px;
    height: 500px;
    padding: 50px 30px;
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.197);
    border-radius: 15px;
}

.titulo {
    font: 500 20px 'Unb', sans-serif;
}

ul{
    font: 500 16px 'Mooli', sans-serif;
    list-style: none;
    margin-top: 20px;
}

li{
    margin-top: 15px;
}


@media screen and (max-width: 768px) {
    .branco {
        padding-right: 0;
        padding-left: 0;
    }

    textarea {
        width: 300px;
    }

    .direito{
        margin-top: 30px;
    }
}